.page_users {
    width: 100%;
    padding: 10px;
    margin-left: 10px;

    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.pagination_wrapper {
    display: flex;
}

.pagination_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination_item {
    margin-bottom: 30px;
}

.pagination_list a {
    padding: 12px 19px;
    margin-right: 3px;

    color: #ffffff;
    text-align: center;

    background-color: #000000;
    cursor: pointer;
}

.pagination_list a:hover,
.pagination_list a:active,
.pagination_list a:focus {
    background-color: #663d15;
}

.pagination_list a.active {
    color: #000000;

    background-color: #ffffff;
}

.pagination.active a:hover,
.pagination.active a:active,
.pagination.active a:focus {
    color: #000000;

    background-color: #ffffff;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}



.item {
    display: flex;
    margin-bottom: 10px;
}

.foto_wrapper {
    margin-right: 10px;
}

.friends_info {
    width: 100%;
    padding: 5px;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
}

.foto_link {
    margin-bottom: 10px;
}

.foto_img {
    width: 120px;
    height: 120px;
}

.name {
    margin-bottom: 10px;
}

.country {
    margin-bottom: 10px;
}

.status {
    margin: 0;
    padding: 0;
}

.left_column button {
    background-color: #334a5c;
}