.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.form {
    padding-bottom: 10px;
}

.form button {
    margin-left: auto;
}