.header {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;

    
    background-color: #217dbb;
    border-bottom: 2px solid #e5ddd5;
  }
  
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
  
.header__logo {
    display: flex;
    justify-content: space-between;
  }
  
.image__logo {
    width: 50px;
    margin-right: 10px;
  }
  
.text__logo {
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
  }

@media (max-width: 340px) {
    .hashtag {
        display: none;
    }
}

.nav__menu {
    display: none;
    position: absolute;
    right: 0;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
  }

.nav__menu.active {
    display: block;
}

.list {
    margin: 0;
    padding: 0;
    
    color: #000000;
    list-style: none;
}

.link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 50px;

    color: #000000;
}

.link:hover,
.link:focus {
    background-color: peru;
}

.btm {
    font-size: 14px;
    line-height: 14px;
}

