.nav_bar {
    flex-shrink: 0;
    width: 200px;

    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    
    background-color: #334a5c;
}

@media (max-width: 768px) {
    .nav_bar {
        display: none;
    }
}

.nav {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
}
    
.nav a {
    display: block;
    position: relative;
    padding: 10px 20px;
    padding-left: 30px;
    padding-bottom: 12px;

    color: #b0c4d4;
}

.nav a:hover,
.nav a:focus {
    color: #ffffff;
    background-color: #263E5A;/*#217dbb;*/
}

.nav a.active {
    color: #ffffff;
    background-color: #1E3448;
}

/*.nav a.active::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 14px;

    width: 10px;
    height: 10px;

    background-color: #217dbb;
    border-radius: 50%;
}*/

.settings {
    margin-top: 40px;
}