main {
    width: 100%;
}

.user__info {
    display: flex;
    margin-bottom: 10px;
}

.avatar {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-right: 10px;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

@media (max-width: 403px) {
    .user__info {
        display: block;
    }
    .avatar {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

}

.discription {
    width: 100%;
    padding: 10px;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.discription p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}



.user__foto {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    min-width: 391px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

@media (min-width: 590px) and (max-width: 1024px) {
    .user__foto {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        height: auto;
    }
}


@media (min-width: 432px) and (max-width: 589px) {
    .user__foto {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        height: auto;
        width: 100%;
    }
}

@media (max-width: 431px) {
    .user__foto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        height: auto;
        min-width: 100%;
    }
}


.user__foto__item {
    width: 100%;
    height: 176px;
}

.user__foto__item img {
    width: 100%;
    height: 100%;
}



.posts {
    padding: 10px;

    background-color: #ffffff;
    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.post__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.post__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    border: 2px solid #e5ddd5;
    border-radius: 5px;
}

.post__form {
    padding-bottom: 10px;
}

.posts__button {
    margin-left: auto;
}

.post__user {
    position: relative;
    display: flex;

    border-bottom: 2px solid #e5ddd5;
}

.post__avatar {
    position: absolute;
    top: 4px;
    left: 0;
    width: 50px;
    height: 50px;
    margin-right: 30px;

    background-color: chartreuse;
    border-radius: 50%;
}

.post__user {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.post__text {
    margin: 0;    
    padding: 0;

    max-width: 600px;
}



